{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal pacjenta</title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="left">
        <h2>Wyniki badań</h2>
    </div>
    <div class="right">
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2><br>
        Ostatnie logowanie: {{ request.user.last_login }}<br>
        Data utworzenia konta: {{ request.user.date_joined }}<br>
        {% block right %}
            {% if request.user.is_staff == True %}
                <a href="{% url 'add-new-patient' %}">Dodaj nowego pacjenta</a><br><br>
                <a href="{% url 'search-patient' %}">Wyszukaj pacjenta w bazie</a><br><br>
                <a href="{% url 'search-patient' %}">Dodaj wyniki badań</a><br><br><br>
            {% endif %}

        {% endblock %}
            <a href="{% url 'search-patient' %}">Zobacz swój profil</a><br><br>
            <a href="{% url 'search-patient' %}">Zobacz swoje wyniki badań</a><br><br>
            <a href="{% url 'search-patient' %}">Zarejestruj się na kolejne badania</a><br><br>
    </div>
</body>
</html>