{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal pacjenta</title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="left">
        <div class="left_one">
            <h2>Wyniki badań</h2>
            <form action="" method="get">
                {{ formers.as_p }}
                <input type="submit" value="Szukaj">
            </form>
            <ul style="list-style-type: none;
                        margin: 0;
                        padding: 0;">
                {% for wynik in wyniki %}
                    <li style="margin: 10px;
                                width: 93%;
                                border: 1px solid black;
                                padding: 20px;
                                text-decoration: none;
                                border-radius: 25px;">
                        {% if wynik.name_test == '1' %}
                            Badania krwi
                        {% elif wynik.name_test == '2' %}
                            Badania moczu
                        {% elif wynik.name_test == '3' %}
                            Morfologia
                        {% elif wynik.name_test == '4' %}
                            Glukoza
                        {% elif wynik.name_test == '5' %}
                            Próby wątrobowe
                        {% elif wynik.name_test == '6' %}
                            Badanie kreatyny
                        {% endif %}
                           -  {{ wynik.date_test }}
                        <a href="{% url "result-test" number_test=wynik.id%}" style="text-decoration: none;
                                                                color: white;
                                                                background-color:#096;
                                                                border-radius: 20px;
                                                                padding: 10px;
                                                                margin-left: 130px;">Zobacz szczegóły</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="right">
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2><br>
        Ostatnie logowanie: {{ request.user.last_login }}<br>
        Data utworzenia konta: {{ request.user.date_joined }}<br>
        {% block right %}
            {% if request.user.is_staff == True %}
                <a href="{% url 'add-new-patient' %}">Dodaj nowego pacjenta</a><br><br>
                <a href="{% url 'search-patient' %}">Wyszukaj pacjenta w bazie</a><br><br>
                <a href="{% url 'add-test-result' %}">Dodaj wyniki badań</a><br><br><br>
            {% endif %}

        {% endblock %}
            <a href="{% url 'search-patient' %}" style="background-color: gray;">Zobacz swój profil</a><br><br>
            <a href="{% url 'search-patient' %}" style="background-color: gray;">Zarejestruj się na badanie</a><br><br>
            <a href="{% url 'logout' %}" class="logout">Wyloguj się</a><br><br>
    </div>
</body>
</html>