<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacjent - profil</title>
</head>
<body>
    <div class="up">
        <a href="{% url 'search-patient' %}">Wróć do wyszukiwań</a>
        <div class="data_personal">
            <h2>{{ user.patient.pesel }}</h2>
            {{ user.first_name }} {{ user.last_name }}
            <h4>{{ user.patient.date_of_birth }}</h4>
        </div>
        <div class="address">
            <h2>Adres zamieszkania:</h2>
            <p>Ul. {{ user.patient.street }} {{ user.patient.build_number }}
                {% if user.patient.apartment_number != None %}
                    / {{ user.patient.apartment_number }}
                {% endif %}<br>
            {{ user.patient.post_code }} {{ user.patient.city }}</p>
        </div>
    </div>
    <div>
        <h2>Ostatnie badania tego pacjenta</h2>
        <ul style="list-style-type: none;
                        margin: 0;
                        padding: 0;">
           {% for wynik in wyniki %}
               <li style="margin: 10px;
                                    width: 93%;
                                    border: 1px solid black;
                                    padding: 20px;
                                    text-decoration: none;
                                    border-radius: 25px;">
                   {% if wynik.name_test == '1' %}
                       Badania krwi
                   {% elif wynik.name_test == '2' %}
                       Badania moczu
                   {% elif wynik.name_test == '3' %}
                       Morfologia
                   {% elif wynik.name_test == '4' %}
                       Glukoza
                   {% elif wynik.name_test == '5' %}
                       Próby wątrobowe
                   {% elif wynik.name_test == '6' %}
                       Badanie kreatyny
                   {% endif %}
                   -  {{ wynik.date_test }}
                   <a href="{% url "result-test" number_test=wynik.id%}" style="text-decoration: none;
                                                                    color: white;
                                                                    background-color:#096;
                                                                    border-radius: 20px;
                                                                    padding: 10px;
                                                                    margin-left: 90px;" target="_blank">Zobacz szczegóły</a>
               </li>
           {% endfor %}
        </ul>
    </div>
</body>
</html>